.block {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin-top: 60px;
    background-color: #fff;
    width: 100%;
    display: flex;
    min-height: 368px;
    padding: 80px 30px;

    &-skills {
        display: block;
        justify-content: flex-start;
        text-align: left;
    }

    &-project {
        padding: 0;
        margin: 0;
        text-align: left;
        padding-left: 30px;
        margin-bottom: 80px;
    }

    // &-contacts {}
}