.promo {
    height: 100vh;
    background: url('/src/img/bg.png') center (center/cover) no-repeat;
    display: flex;
    justify-content: center;
    // align-items: center;

    &__card {
        display: flex;
        margin-top: 300px;

        &-left {
            padding-top: 43px;
            width: 400px;
            text-align: center;
            background-color: #f4ece6;
            box-shadow: black 1px 10px 100px -40px;
        }

        &-right {
            padding-top: 43px;
            padding-left: 30px;
            width: 480px;
            // text-align: center;
            background-color: #fff;
        }
    }

    &__image {
        width: 205px;
        height: 205px;
        overflow: hidden;
        border-radius: 100%;
        margin: 0 auto 34px auto;

        img {
            width: 100%;
        }
    }

    &__name {
        font-weight: 700;
        font-size: 27px;
    }

    &__underline {
        width: 50px;
        height: 3px;
        background: $main-color;
        margin: 0 auto;
        margin-top: 25px;
    }

    &__job {
        margin-top: 25px;
        letter-spacing: 0.25rem;
        font-weight: 300;
    }

    &__social {
        margin-top: 51px;
        padding: 14px 100px;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        list-style-type: none;

        li {
            font-size: 20px;
        }
    }

    &__title {
        font-size: 100px;
        font-weight: 700;
    }

    &__subtitle {
        font-size: 25px;
    }

    &__descr {
        margin-top: 56px;
        line-height: 1.5em;
        font-size: 17px;
        font-weight: 300;
    }
}